#main-nav {
  background: transparent;
  width: 100%;
  margin: 0em auto;
  //border-top: 3px solid darken($primary-color, 5%);
  margin-top: 2em;
}

.menu-collapser {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 8px;
  color: $white;
  font-size: 1em;
  line-height: 48px;
  background-color: $primary-color;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.collapse-button {
  position: absolute;
  right: 8px;
  top: 50%;
  width: 40px;
  padding: 7px 10px;
  color: $white;
  font-size: 14px;
  text-align: center;
  // background-color: #0E0E0E;
  // border-radius: 2px;
  cursor: pointer;

  transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &:hover,
  &:focus {
    color: $white;
    // background-color: #040404;
  }

  .icon-bar {
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
    background-color: $white;
    border-radius: 0px;
  }
}

ul.slimmenu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $primary-color;
  text-align: right;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  &.collapsed { 
    text-align: left;

    li {
      display: block;
      width: 100%;

      text-align: left;
      
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      > ul {
        position: static;
        display: none;
      }

      a {
        display: block;
        //border-bottom: 1px solid rgba($black, 0.075);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 700;
      }

      .sub-toggle {
        height: 40px;
      }
    }
  }

  li {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    text-align: center;

    ul {
      margin: 0;
      list-style-type: none;

      li {
        background: darken($primary-color, 7%);
      }
    }

    > ul {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 999;
      display: none;
      width: 100%;

      > li ul {
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 999;
        display: none;
        width: 100%;
      }
    }

    a {
      display: block;
      padding: 12px 16px 12px 16px;
      color: $primary-color;
      font-size: 1em;
      font-weight: 700;
      transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -webkit-transition: background-color 0.5s ease-out;
      position: relative;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
        // background-color: rgba($black,0.15);

        &:after {
        display: block;
        content: "";
        background: $primary-color;
        width: 100%;
        position: absolute;
        bottom: -2px;
        height: 3px;
        left: 0; 
        }
      }
    }

    .sub-toggle {
      background: transparent;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      width: 48px;
      height: 100%;
      text-align: center;
      cursor: pointer;

      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -0.25em;
        vertical-align: middle;
      }

      > i {
        display: inline-block;
        color: $primary-color;
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }

  > li {
    // border-left: 1px solid #999;
    // min-width: 19%;
    &.has-submenu a { 
      padding: 12px 54px 12px 16px;
    }
    &:first-child,
    &.has-submenu + li {
      // min-width: 19%;
      border-left: 0;
    }
  }
}


ul.slimmenu > li.has-submenu ul li a {
  color: $white;
  font-size: 0.875em;
}