// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up 100% height on the root elements
 * NEVER apply position: relative; to root elements
 * More info at http://phrogz.net/css/htmlvsbody.html
 */
html,
body {
	height: 100%;
}



.ribbon {
    width: 100%;
    height: 62vh; //40
    background-color: $primary-color; //rgba($sand,0.4)
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 2em;
		//position: relative;

    h1 {
	text-transform: uppercase;
	letter-spacing: -0.04em;
	text-shadow: 0px 0px 3px rgba($white, 0.28);
    // background: rgba($sand,1.0);//0.87
    display: inline-block;
    padding: 0.5em 1em;
    max-width: 70%;
    color: #00362f;
    margin-bottom: 1em;
		position: relative;
	font-weight: 400;
	&:before {
		    content: "";
		    // background: rgba($sand,1.0);
		    width: 100%;
		    position: absolute;
		    height: 100%;
		    top: 0;
		    left: -100%;
		    border-bottom: 6px solid #00362f;
			}
    }
}


body.home main#main-content {
	margin-top: -53vh;
}


main#main-content {
	padding: 2em 0em;
	display: block;
	margin: 0em auto;
	margin-bottom: 4em;
	margin-top: -35vh;
	max-width: 71.25em;
	background: $white;
	box-shadow: 0px 0px 8px rgba($black,0.2);

	h4 a {
		color: $link-color;
		@extend %transitionAll3;
		border-bottom: 4px solid $link-color !important;

		&:hover {
			color: rgba($link-color,0.8);
		}
	}

	p > a,
	p > small > a,
	// ul > li > a,
	ul li small a,
	h3 > a,
	h4 > a,
	h5 > a {
		color: $link-color;
		@extend %transitionAll3;
		border-bottom: none !important;
		text-decoration: underline;
		font-weight: 700;
		&:hover {
			color: rgba($link-color,0.8);
		}
	}
}





@media (max-width: 480px) {

	.ribbon {
		height: 80vh;
		overflow: hidden;

		h1 {
	max-width: 99%;
	padding: 1em 0.5em 1em 0.25em;
	word-wrap: break-word;
		}
	}
}



@media (max-width: 1150px) {

	main#main-content {
		max-width: 96%;
	}
}









.panel {
	background: $white;
	border-color: $gainsboro;
	//box-shadow: 0px 0px 6px rgba($black,0.2);
}








/**
 * Basic styles for links using on-event mixin
 */
// a {
//   color: $primary-color;
//   text-decoration: none;

//   @include on-event {
//     text-decoration: underline;
//   }
// }


/*==============================
=            Tables            =
==============================*/
table {
	width: 100%;
}
table td {
	border: 1px solid $gainsboro;
}
table tr th {
	text-align: left;
}
table caption {
	text-align: left;
  font-size: 80%;
  color: lighten($primary-color,20%);
  font-style: italic;
  padding-left: 0.5em;
}
/*=====  End of Tables  ======*/
