/* Link element fixes
  ========================================================================== */
/* Usage */
a:focus {
  outline: none;
}

a img {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

button:focus {
  outline: none; 
}

/* Remove gray (on iOS devices) or yellow (on Android devices) highlight from links when touched
  ========================================================================== */
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* Input Placeholder Text Color
  ========================================================================== */
/* Usage */

input::-webkit-input-placeholder {
   color: #b2b2b2;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #b2b2b2;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #b2b2b2;
}

input:-ms-input-placeholder {
   color: #b2b2b2;
}



/* Form related hacks and adjustments
  ========================================================================== */
/* TO DO/ADD HERE:
   - Fix auto styling of input type[search] for webkit
   - Fix focus styles that are auto applied in IE
*/
/* Fix auto border radius of submit and button inputs */
input[type="reset"], input[type="submit"], input[type="button"] {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  
  &:focus {
    outline: none;
  }
}


textarea {
// Only allow vertical resize of textarea so that horizontal resize doesn't cause visibility issues with neighbor elements
  resize: vertical;
  
// IE puts a vertical scrollbar by default on all textareas. You can hid it with overflow: hidden, but then you don't get any scrollbars at all when you expand. Thankfully auto overflow works to remove the scrollbar but still put them back when needed.
  overflow: auto; 
}




/* Chromeframe
  ========================================================================== */
/* Usage
   - Include site admin email address link in the message copy?
   - See header.php for the HTML markup for this component.
 */
.chromeframe-container {
position: fixed;
top: 0;
left: 0;
z-index: 1000000000;
width: 100%;
height: 100%;
background-color: $primary-color;
}

.chromeframe-container .chromeframe-wrapper {
position: relative;
display: table;
width: 100%;
height: 100%;
max-width: 800px;
margin: 0 auto;
}

.chromeframe-container .chromeframe-wrapper img {
max-width: 200px;
margin-bottom: 1em;
}

.chromeframe-container .chromeframe-wrapper .chromeframe-inner {
display: table-cell;
color: $alert-color;
text-align: center;
vertical-align: middle;
}

.chromeframe-container .chromeframe-wrapper .chromeframe-inner h1 {
font-weight: 400;
font-size: 1.75em; 
color: $alert-color;
text-transform: uppercase;
}






/* Custom text selection colors
  ========================================================================== */
::-moz-selection {
    background: shade($white, 10);
    text-shadow: none;
    color: $white;
}

::selection {
    background: $black;
    text-shadow: none;
    color: $white;
}


 
 

