// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------


//COLORS
$main-green: #02A477;
$dark-green: #02956C;
$main-gray: #768185;
$dark-gray: #484D4F;
$text-white: #ffffff;
$body-bg: #f3f3f3;
$label-color: #1F2122;
$footer-light: #185F4E;
$footer-dark: #004F3C;